.idea/
*.iml
.DS_Store
.baseDir
captures/
.externalNativeBuild/
.cxx/
.incremental/
.kotlin/

**/build/
.gradle/
*.puml

local.properties
secrets.properties
.secrets/

*.jks
*.keystore
*.p12

google-services.json
*.log
.navigation/